.visualSide2Wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 80px;
    padding: 15px 20px 15px 20px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    height: 753px;
}
